@using EntityLayer.Concrete
@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori Adı</th>
        <th>Durumu</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td>
                <a href="#" class="btn btn-warning" title="Güncelle">
                    <i class="bi bi-arrow-clockwise"></i>
                </a>
                <a href="#" class="btn btn-danger" title="Sil">
                    <div class="glyphicon glyphicon-remove"></div>
                </a>
            </td>
        </tr>
    }
</table>


